/*PC*/
/*PC*/
/*CSS PARA PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.foto{
flex-direction: column;
background-size: auto;
}

/*ALTERAÇÃO EM TODO CÓDIGO*/
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1494472155656-f34e81b17ddc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"); 
    font-family:serif;
    font-size: 25px;
    font-weight: 400;
    line-height: unset;
    margin: 0px;
}
/*FOTO DE PERFIL*/
img{
    display: flex;
    flex-direction: column;
    margin: 85px auto 15px auto;
    align-items: center;
    width: 150px;
    border-radius: 50%;
}


/*TÍTULOS H3*/
h3{
    display: flex;
    flex-direction: column;
    margin: 45px auto 15px auto;
    align-items: center;
    color: white;
}

/*CONTATOS*/
footer .centro{
    text-align: center;

}

/*ECPERIÊNCIA*/
.exper{
    background-color: black;

}

/*SOBRE*/
.tudosobre{
    background-color: black;
    color: white;
    background-size: 100px 100px 100px 100px;
    font-size: 0.9em;
    margin: auto auto -1px auto;
    

}

/*BOTÕES*/
.tudosobres{
    filter: drop-shadow(2px 4px 6px black);  
}


/*H1 RAFAEL PANCINHA DA SILVA*/
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: white;
    filter: drop-shadow(2px 4px 6px black); 
    margin: 20px auto 90px auto;
    
        
}

/*CONHECIMENTO*/
.tudoconheci{
    background-color: black;
    color: white;

}


/*UL'S DO HTML*/
ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: left;
}

/*CLASS DE PROJETOS*/
.projetos{
    background-color: black;  
}

/*ID PROJETOS*/
#contproj{
    margin: auto;
    text-align: left;
    color: white;
    font-size: 1em;
    margin: 250px 150px 200px 150px;
}


/*TODOS H2*/
h2{
    font-size: 1.1em;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 35px auto 10px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times;
    font-style: italic;
    text-align: center;
    margin: 85px auto 45px auto;
}

/*ID SOBRE*/
#contsobre{
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    
    text-align: left;

    margin: 20px 150px auto 150px;
}

/*ID CONHECIMENTOS*/
#contcon{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 150px 600px 150px;
}

/*ID PRETENSÕES*/
#contpreten{
    display: flex;
    flex-direction: column;
    margin: 10px 80px auto 80px;
    text-align: left;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 24px;


}
 /*ID ECPERIÊNCIA*/
#contexp{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    text-align: left;
    margin: auto 150px auto 150px;
}

/*CLASSE DOS BOTÕES*/
.btn-primary{
    background: #45ca45;
    color: white
    border: outset;
    border-color: #10e610;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
    border-radius: 11%;
    background-color: #404040;
    color: white;
    border: solid;
    border-color: #1f2427;  

}

/*CLASSE DOS CONTATOS*/    
.oscontatos{
    text-align: center;
}

/*BOTÃO 2*/
#bota2{
   background: #05d005;
    color: white
    border: outset;
    border-color: #00ab00;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}

/*BOTÃO 3*/
#bota3{
    background: #6755ff;
    color: white;
    border: outset;
    border-color: #333f94;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}

/*CLASSE COM TEXTO DESENVOLVIDO*/
.desenvolvido{
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 20px;
}

/*CLASSE E-MAIL*/
.email{
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    color: white;
}

 

 
/*417PX*/
/*417PX*/
/*CSS RESPONSIVIDADE SMARTPHONE*/
/*RESPONSIVIDADE*/
@media (max-width: 417px){

    /*ALTERAÇÃO EM TODO CÓDIGO*/
    body{
        background-image: url("https://wallpapercave.com/wp/wp6028117.jpg");
        background-attachment: fixed;
        background-repeat: repeat;
        font-size: 17px;
    }

    /*TAMANHO DA FOTO*/
    img{
        width: 130px;
    }
   
    /*TAMANHO DO NOME H1*/
    h1{
        font-size: 30px;
        text-align: center;
        margin: 58px 140px 18px 140px;
        
        filter: drop-shadow(2px 4px 6px black);
    }

    #contsobre{
    text-align: left;
    font-size: 20px;
    color: white;
    margin: auto 40px auto;

       
    }

    #contcon{
    text-align: center;
    font-size: 20px;
    color: white;
    margin: auto 25px 100px auto;
    }


    .pretend{
    filter: drop-shadow(2px 4px 6px black);
    margin: 90px auto auto auto;
    }

    #contpreten{
    text-align: center;
    font-size: 20px;
    color: white;
    }

    #contexp{
        text-align: left;
        font-size: 20px;
        color: white;
        margin: auto;
    }

    #contproj{
        text-align: left;
        font-size: 20px;
        color: white;
        margin: 414px auto auto auto;
    }


    .foto{
        margin: 0;
        padding: 0;
        width: 100%;
        background-repeat: no-repeat;
        height: 150vw;
   
    }

    #nova{
        margin: 20px 150px auto 150px;
    }


    h2{
    margin-top: 40px;
    font-size: 1.4em;
    align-items: center;
    }


    .desenvolvido{
        font-size: medium;
    }



    .fundo{
        background-size: cover;
        background-position: top;
    }

}



}
