.foto{
flex-direction: column;
background-size: auto;
}

/*ALTERAÇÃO EM TODO CÓDIGO*/
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1494472155656-f34e81b17ddc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"); 
    font-family:serif;
    font-size: normal;
    font-weight: 400;
    line-height: unset;
    margin: 0px;
}
/*FOTO DE PERFIL*/
img{
    display: flex;
    flex-direction: column;
    margin: 85px auto 15px auto;
    align-items: center;
    width: 150px;
    border-radius: 50%;
}


/*TÍTULOS H3*/
h3{
    display: flex;
    flex-direction: column;
    margin: 45px auto 15px auto;
    align-items: center;
    color: white;
}

/*CONTATOS*/
footer .centro{
    text-align: center;

}

/*ECPERIÊNCIA*/
.exper{
    background-color: black;

}

/*SOBRE*/
.tudosobre{
     background-color: black;
    color: white;
    background-size: 100px 100px 100px 100px;

}

/*BOTÕES*/
.tudosobres{
    filter: drop-shadow(2px 4px 6px black);  
}


/*H1 RAFAEL PANCINHA DA SILVA*/
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4px;
    color: white; 
}

/*CONHECIMENTO*/
.tudoconheci{
    background-color: black;
    color: white;
    font-size: 1.2em;

}



/*UL'S DO HTML*/

ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: left;
}

/*CLASS DE PROJETOS*/
.projetos{
    background-color: black;  
}

/*ID PROJETOS*/
#contproj{
    margin: auto;
    text-align: left;
    color: white;
    font-size: 1em;
    margin: 250px 150px 200px 150px;
}







/*TODOS H2*/
h2{
    size: 1.4em;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 35px auto 10px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times;
    font-style: italic;
    text-align: center;
    margin: 148px auto 45px auto;

}

/*ID SOBRE*/
#contsobre{
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    margin: 10px 30px 29px 30px;
    text-align: left; 
}

/*ID CONHECIMENTOS*/
#contcon{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 40px 40px 40px;
}

/*ID PRETENSÕES*/
#contpreten{
    display: flex;
    flex-direction: column;
    margin: 10px 30px auto 30px;
    text-align: left;
    filter: drop-shadow(2px 4px 6px black);


}
 /*ID ECPERIÊNCIA*/
#contexp{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    text-align: left;
    margin: auto 150px auto 150px;
}

/*CLASSE DOS BOTÕES*/
.btn-primary{
    background: #45ca45;
    color: white
    border: outset;
    border-color: #10e610;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
    border-radius: 11%;
    background-color: #404040;
    color: white;
    border: solid;
    border-color: #1f2427;  

}

/*CLASSE DOS CONTATOS*/    
.oscontatos{
    text-align: center;
}

/*BOTÃO 2*/
#bota2{
   background: #05d005;
    color: white
    border: outset;
    border-color: #00ab00;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}

/*BOTÃO 3*/
#bota3{
    background: #6755ff;
    color: white;
    border: outset;
    border-color: #333f94;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}

/*CLASSE COM TEXTO DESENVOLVIDO*/
.desenvolvido{
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: x-small;
}

/*CLASSE E-MAIL*/
.email{
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    color: white;
}

 

 



/*RESPONSIVIDADE*/
 @media (min-width: 586px){

    img{
        width: 300px;
    }
   
    h1{
        font-size: 40px;
        margin: 58px 140px 61px 140px;
        filter: drop-shadow(2px 4px 6px black);
    }

    #contsobre{
       flex-direction: row;
       text-align: left;
       margin: 20px 150px auto 150px;
    }

    body{

        font-size: larger;
        margin: 0px;

    }




    #contesco{
        
        flex-direction: row;
       text-align: left;
       margin: 20px 150px auto 150px;
    }
 
  




    #contcon{
        margin: 20px 150px 600px 150px;
    }


  



    #contpreten{
        margin: 20px 150px auto 150px;
        text-align: center;
        font-size: 24px;
    }

   


    /*tamanho da foto e margens*/
    img{
        width: 220px;
        margin: 70px auto auto auto;
    }
   




    .escola{
       text-align: left;
        margin: 20px 150px auto 150px;
       
    }


.pretend{
    filter: drop-shadow(2px 4px 6px black);
}




 .foto{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    height: 150vw;
   
}

 #nova{
    margin: 20px 150px auto 150px;
 }


h2{
    margin-top: 40px;
    font-size: 1.4em;
    align-items: center;
}


.desenvolvido{
    font-size: medium;
}



.fundo{
    background-size: cover;
    background-position: top;
}












}
