.foto{
flex-direction: column;

background-size: auto;



}
.oscontatos{


}
/*foto perfil*/
img{
    display: flex;
    flex-direction: column;
    margin: 85px auto 15px auto;
    align-items: center;
    width: 150px;
    border-radius: 50%;
}

/*imagem de fundo*/
.fundo{
    height: 100vh;
    padding: 2vw;
    font-size: 4vw;
	img{opacity : 0.5};
}
h3{
    display: flex;
    flex-direction: column;
    margin: 45px auto 15px auto;
    align-items: center;
}
footer .centro{
    text-align: center;

}







/*H1 Rafael Pancinha*/
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    color: black;
    margin: auto auto 700px auto;
    background: linear-gradient(45deg, #ffffff5c, #ffffff85, #ffffffc7, #ffffff54);
}







ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: left;
}
    







/*SOBRE  E OUTROS H2*/
h2{
    
    font-size: 1.50em;
    display: flex;
    flex-direction: column;
    margin: 35px auto 10px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times;
    font-style: italic;
}
#contsobre{
	display: flex;
    flex-direction: column;
    margin: 10px 30px auto 30px;
    text-align: left;
  
}

#contesco{
	display: flex;
    flex-direction: column;
    margin: 10px 30px auto 30px;
    text-align: left;
}

#contcon{
	margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
}
#contpreten{
	display: flex;
	flex-direction: column;
	margin: 10px 30px auto 30px;
	text-align: left;

}
.escola{
    margin-top: 15px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    line-height: 20px;
}


    

}


body{

    font-family:serif;
    font-size: normal;
    font-weight: 400;
    line-height: unset;
    margin: 0px;
   }
     


.fb{
    background-color: blue;
    background-size:     
}


div h7{
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0px auto;

}



.btn-primary{
    background: #45ca45;
    color: white
    border: outset;
    border-color: #10e610;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;

}
    
.oscontatos{
    text-align: center;

}
.btn-primary{
    background-color: #3171b5;
    color: white;
    border: solid;
    border-color: #0061af;
}
#bota2{
   background: #05d005;
    color: white
    border: outset;
    border-color: #00ab00;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}

#bota3{
    background: #f7a222;
    color: white;
    border: outset;
    border-color: #ff9528;
    text-decoration: none;
    margin: 15px auto auto auto;
    text-align: center;
}


.desenvolvido{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: x-small;
}
.email{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;

}
 

 




 @media (min-width: 586px){

    img{
        width: 300px;

    }
    h1{
        font-size: 45px;
    }

    #contsobre{
       flex-direction: row;
       text-align: left;
       margin: 20px 150px auto 150px;
    }

    body{

        font-size: larger;
        margin: 0px;

    }




    #contesco{
        
        flex-direction: row;
       text-align: left;
       margin: 20px 150px auto 150px;
    }
 
  




    #contcon{
        margin: 20px 150px auto 150px;
    }


  



    #contpreten{
        margin: 20px 150px auto 150px;
    }

   



    img{
        width: 180px;
        margin: 70px auto auto auto;
    }
   




    .escola{
       text-align: left;
        margin: 20px 150px auto 150px;
       
    }


    h1{
        margin: 25px auto 525px auto;
        

}




 .foto{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    height: 150vw;
   
}

 #nova{
    margin: 20px 150px auto 150px;
 }


h2{
    margin-top: 50px;
}


.desenvolvido{
    font-size: medium;
}



.fundo{
    background-size: cover;
    background-position: top;
}











}
